<div class="gad-dog-contenedor">
    <h3>¿Queres dar un perro en adopcion?</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <input matInput type="text" placeholder="Nombre" formControlName="nombre" required>

          <label for="aptoDepto">Apto para departamentos?
          <input matInput type="checkbox" formControlName="aptoDepto">
          </label>
    
          <input matInput type="number" placeholder="Edad" formControlName="edad" required>
    
        <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Update</button>
      </form>
</div> 