<div class="contenedor-cards">

    <ng-container *ngFor="let perro of perrosApi">
        <div class="card" style="width: 18rem;" id={{perro.id}}  (click)="cambiarDisponibilidad(perro)">
            <img class="card-img-top" src={{perro.imagen}} alt="perro">
            <div class="card-body">
                <h5 class="card-title">{{perro.nombre}}</h5>
                <p class="card-text">{{perro.edad}} años</p> 
                <p>Recomendado para deptos? 
                    <span class="aptoDepto" *ngIf="perro.aptoDepto">Si! :D</span>
                    <span class="noAptoDepto" *ngIf="!perro.aptoDepto">No :(</span> 
                </p>
            </div>
        </div>
    </ng-container>
</div>
