td img.perroDisp{
    max-height: 120px;
}

div.col-8{
    border: 4px solid black;
    border-radius: 15px;
}

table{
    margin-top: 10px;
    width: 100%;
}

table thead tr, table tbody tr{
    width: 100%;
}

td{
    text-align: center;
    vertical-align: middle;
}