<div class="container">
    <div class="row">
        <div class="col-8">
            <table class="table table-striped table-dark table-bordered">
                <thead>
                    <tr>
                        <td>Imagen</td>
                        <td>Nombre</td>
                        <td>Edad</td>
                        <td>AptoDepto</td>
                        <td>Agregar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let perro of perros">
                        <td><img class="perroDisp" src={{perro.imagen}} alt="perro"></td>
                        <td>{{perro.nombre}}</td>
                        <td>{{perro.edad}}</td>
                        <td>
                            <span class="badge text-bg-success" *ngIf="perro.aptoDepto">Si!</span>
                            <span class="badge text-bg-warning" *ngIf="!perro.aptoDepto">No :(</span>
                        </td>
                        <td>
                            <span *ngIf="perro.disponibilidad">Llamar boton</span>
                            <span class="badge text-bg-danger" *ngIf="!perro.disponibilidad">No disp</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <h3>Quiero adoptar a:</h3>
        </div>
    </div>
</div>
